<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="KAVADrivePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>kavadrive.entity.Category</class>
    <class>kavadrive.entity.Orders</class>
    <class>kavadrive.entity.Product</class>
    <class>kavadrive.entity.Store</class>
    <class>kavadrive.entity.Users</class>
    <class>kavadrive.entity.ProductSetList</class>
    <class>kavadrive.entity.OrderSimpleItem</class>
    <class>kavadrive.entity.OrderItem</class>
    <class>kavadrive.entity.Role</class>
    <class>kavadrive.entity.ProductItem</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://37.252.125.229:3306/coffee?zeroDateTimeBehavior=convertToNull&amp;useUnicode=true&amp;characterEncoding=utf8"/>
      <property name="javax.persistence.jdbc.password" value="kavadb00"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="remote"/>
      <property name="eclipselink.session.customizer" value="kavadrive.classes.ServiceCustomizer"/>
    </properties>
  </persistence-unit>
</persistence>
